@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("../assets/background.png");
}

nav {
  width: 100%;
  padding: 0.5rem 3rem 0rem 3rem;
  display: flex;
  justify-content: center;
}

#backlink {
  padding: 0;
  margin: 0;
}

.logo {
  cursor: pointer;
}

nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 2rem;
  list-style-type: none;
}

a {
  margin: 2rem;
  justify-content: space-evenly;
  color: #e3edef;
  transition: color 0.5s linear;
}

a:hover {
  color: #dc961c;
}

nav ul li {
  letter-spacing: 0.25rem;
  margin: 10px 20px;
}

nav ul li a {
  color: #e3edef;
  font-size: 30px;
  text-decoration: none;
}

#menuList {
  padding-top: 1rem;
}

nav .btn {
  color: #e3edef;
  text-decoration: none;
  border: 1px solid #e3edef;
  padding: 8px 21px;
  border-radius: 20px;
  transition: border 0.5s linear;
}

nav .btn:hover {
  border: 1px solid #dc961c;
}

nav img {
  padding-right: 2.5rem;
  padding-left: 1rem;
}

#img_menu_icon {
  width: 100;
  cursor: pointer;
  filter: invert(1);
  display: none;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.head {
  width: 100%;
  text-align: center;
  background: #e89403;
  color: #ffffff;
  padding: 10px 0 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

select,
input {
  display: block;
  padding: 10px 0 10px;
  width: 100%;
  margin: 0 auto 25px auto;
  text-align: center;
  height: 60px;
  font-size: 28px;
}

select {
  cursor: pointer;
}

button {
  display: block;
  float: left;
  width: 100%;
  height: 75px;
  margin-bottom: 25px;
  font-size: 2rem;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

.click {
  background: #dc991c;
  border: none;
  text-decoration: none;
  color: #fff;
}

.click:hover {
  background: #dcac1c;
}

#result {
  float: left;
  width: 100%;
  background: #fff;
  height: 75px;
  font-size: 28px;
  padding-bottom: 15px;
  visibility: hidden;
}

.result p {
  text-align: center;
}

#answer {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

::placeholder {
  color: #000;
}
