@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0f002b;
    line-height: 1.25;
}

table {
    position: absolute;
    left: 13%;
    top: 4%;
    border: 1px solid #0f002b;
    border-collapse: collapse;
    padding: 0;
    width: 75%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    color: #fff
}

table tr {
    background-color: #fff;
    border: 1px solid #0f002b;
    padding: .35em;
}



table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    background-color: #000;
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#coin_name {
    background-color: #dc961c;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #0f002b;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}