@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../assets/background.png");
  background-size: cover;
}

nav {
  width: 100%;
  padding: 0.5rem 3rem 0rem 3rem;
  display: flex;
  justify-content: center;
}

#backlink {
  padding: 0;
  margin: 0;
}

.logo {
  cursor: pointer;
}

nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 2rem;
}

nav a {
  margin: 2rem;
  justify-content: space-evenly;
  color: #e3edef;
  transition: color 0.5s linear;
}

nav a:hover {
  color: #dc961c;
}

nav ul li {
  letter-spacing: 0.25rem;
  margin: 10px 20px;
}

nav ul li a {
  color: #e3edef;
  font-size: 30px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

#menuList {
  padding-top: 1rem;
}

nav .btn {
  color: #e3edef;
  text-decoration: none;
  border: 1px solid #e3edef;
  padding: 8px 21px;
  border-radius: 20px;
}

nav img {
  padding-right: 2.5rem;
  padding-left: 1rem;
}

#img_menu_icon {
  width: 100;
  cursor: pointer;
  filter: invert(1);
  display: none;
}

#title {
  color: #e3edef;
  font-size: 4rem;
  line-height: 4rem;
  word-spacing: 0.5rem;
}

#desc {
  font-family: 'Roboto', sans-serif;
  color: #c2c0c0;
  padding-top: 2rem;
  line-height: 1rem;
  font-weight: 900;
}

#span_desc{
  font-family: 'Roboto', sans-serif;
  line-height: 2rem;
  font-weight: 900;
}

#crypto_span {
  color: #dc961c;
}

#and_span {
  color: #dc961c;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: left;
  align-items: left;
  margin-left: 4%;
  padding-top: 5rem;
}

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    position: absolute;
    top: 140px;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    flex-direction: column;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo {
    display: none;
  }

  #img_menu_icon {
    display: block;
    filter: invert(1);
    height: 50px;
  }

  nav .btn {
    border: 1px solid #e3edef;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
  }
  body {
    background-image: url("../assets/background.png");
  }
}
