@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("../assets/background.png");
  background-size: cover;
}

nav {
  width: 100%;
  padding: 0.5rem 3rem 0rem 3rem;
  display: flex;
  justify-content: center;
}

#backlink {
  padding: 0;
  margin: 0;
}

.logo {
  cursor: pointer;
}

nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 2rem;
  flex-wrap: wrap;
  list-style-type: none;
}

a {
  margin: 2rem;
  justify-content: space-evenly;
  color: #e3edef;
  transition: color 0.5s linear;
}

a:hover {
  color: #dc961c;
}

nav ul li {
  letter-spacing: 0.25rem;
  margin: 10px 20px;
}

nav ul li a {
  color: #e3edef;
  font-size: 30px;
  text-decoration: none;
}

#menuList {
  padding-top: 1rem;
}

nav .btn {
  color: #e3edef;
  text-decoration: none;
  border: 1px solid #e3edef;
  padding: 8px 21px;
  border-radius: 20px;
  transition: border 0.5s linear;
}

nav .btn:hover {
  border: 1px solid #dc961c;
}

nav img {
  padding-right: 2.5rem;
  padding-left: 1rem;
}

#img_menu_icon {
  width: 100;
  cursor: pointer;
  filter: invert(1);
  display: none;
}

#title {
  color: #e3edef;
  font-size: 4rem;
  line-height: 4rem;
  word-spacing: 0.5rem;
}

#desc {
  font-family: "Roboto", sans-serif;
  color: #c2c0c0;
  padding-top: 2rem;
  line-height: 1rem;
  font-weight: 900;
}

#span_desc {
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  font-weight: 900;
}

#crypto_span {
  color: #dc961c;
}

#and_span {
  color: #dc961c;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: left;
  align-items: left;
  margin-left: 4%;
  padding-top: 5rem;
}

.btc_checker_div {
  color: #e3edef;
  display: flex;
  justify-content: left;
  padding: 2rem 0rem 0rem 10.5rem;
}

.btc_bubble {
  border: solid #dc961c 2px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#title_btc {
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
  color: #dc961c;
  font-size: 2.5rem;
}

#bitcoin_price {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0rem 0rem;
  font-size: 1.5rem;
}

#br_id {
  display: none;
}

@media only screen and (max-width: 700px) {
  body {
    background-image: url("../assets/background.png");
  }

  nav ul {
    width: 100%;
    position: absolute;
    top: 140px;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav .btn {
    border: 1px solid #e3edef;
    padding: 6px 25px;
    border-radius: 30px;
    font-size: 20px;
  }

  .logo {
    display: none;
  }

  #img_menu_icon {
    display: block;
    filter: invert(1);
    height: 50px;
    margin-top: 2rem;
  }

  .menuicon {
    display: flex;
    justify-content: space-evenly;
  }

  .site {
    padding-top: 0rem;
  }

  #title {
    color: #e3edef;
    font-size: 2.25rem;
    line-height: 3rem;
    word-spacing: 0.5rem;
  }

  #desc {
    padding-top: 2rem;
    line-height: 1.25rem;
  }

  #span_desc {
    line-height: 1.25rem;
  }

  #br_id {
    display: block;
  }

  .btc_bubble {
    border: solid #dc961c 2px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-left: 5rem;
  }

  .btc_checker_div {
    color: #e3edef;
    display: flex;
    justify-content: center;
    padding: 8rem 0rem 0rem 0rem
  }

  #title_btc {
    display: flex;
    justify-content: right;
    padding-top: 2rem;
    padding-right: .75rem;
    color: #dc961c;
    font-size: 2rem;
  }

  #bitcoin_price {
    display: flex;
    justify-content: right;
    padding: 0rem 1.5rem 0rem 0rem;
    font-size: 1.5rem;
  }

}