@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background-color: #e3edef; */
  background-image: url("../img/background.png");
}

nav {
  width: 100%;
  padding: 20px 0 0 15rem;
  display: flex;
  align-items: center;
  word-spacing: 2.5rem;
}

.logo {
  cursor: pointer;
}

nav ul {
  flex: 1;
}

nav ul li {
  display: inline-block;
  letter-spacing: 0.25rem;
  margin: 10px 20px;
}

nav ul li a {
  color: #e3edef;
  font-size: 30px;
  text-decoration: none;
}

nav .btn {
  color: #e3edef;
  text-decoration: none;
  border: 1px solid #e3edef;
  padding: 10px 30px;
  border-radius: 20px;
}

nav img {
  padding-right: 2.5rem;
}

.btn {
  margin-right: 10rem;
}
